<div class="jumbotron" style= "background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
    background-size: cover;">
  <div class="container">
    <h1 style="color:#fff;">Glop</h1>
    <p style="color:#fff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>
    	<%= link_to 'Buy', products_path, class:"btn btn-primary btn-lg", role:"button" %>
    	<%= link_to 'Sell', new_product_path, class:"btn btn-primary btn-lg", role:"button" %>
  </div>
</div>